@import './mixings/transitions';

.basic-products-container{
  padding:20px;

}
.basic-products-container h1 {
	margin-bottom:10px;
	font-size:24px;
	
}
.thubmnail {
  height:200px;
  width:100%;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.products-info {
	background:rgba(0,0,0,0.1);
	padding:10px;
	margin-bottom:20px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	min-height:169px;
	
}
.product-title {
	font-size:16px;
	font-weight:bold;
}
.product-description {
	color:#666666;
	font-size:13px;
	margin:0;
}
.product-brand,.product-price {
	color:#666666;
	font-size:13px;
	margin:0;
}
.product-brand span,.product-price span {
	font-weight:bold;
}
.product-link {
	font-size:11px;
	color:#33E828;
}
.promoBanner {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(39,126,35,1) 100%);
	width:100%;
	min-height:300px;
	display: flex;
	align-items: center;
	justify-content: center;
    color:#ffffff;
	margin-bottom:30px;
}

.btn-success {
	color: #fff;
	background-color: #33E828;
	border-color: #33E828;
}



/*Login register forms*/

.login-register-container {
	max-width:600px;
	background:rgba(0,0,0,0.9);
	@include border-radius(5px);
	margin:0 auto;
	padding:20px;

	h3 {
		font-weight:bold;
		color:#ffffff !important;
	}
	.login-regster-link {
		font-size:11px;
		color:#33E828;
		text-decoration:underline;
	}
	
	label {
		color:#ffffff;
		font-size:12px !important;
	}

	
}

/*Navigation styles*/

.navbar-light {
  .navbar-nav {
    .nav-link {
      @include transition(color,0.5s, ease);
      &:hover {
        color: #33E828 !important;
        cursor: pointer;
      }

    }
  }
}
